<h2 style='text-align: center;'><span class="badge badge-secondary"><%= facade.member_count %> Members</span></h2>

  <% facade.members.each do |member| %>
    <div class="card member">
      <div class="card-body">
        <h5 class="card-title name"><%= member.name %></h5>
        <p class="card-text id"><small class="text-muted">Id: <%= member.id %></small></p>
      </div>
    </div>
  <% end %>
